<details style="margin-left:0px" class="toc" {{ if .Params.seriesopen | default (.Site.Params.seriesopen | default false) }} open {{ end }}>
    <summary
        class="summary">
        {{ index .Params.series 0 }} - This article is part of a series.
    </summary>
    {{ range $post := sort (index .Site.Taxonomies.series (index .Params.series 0 | urlize)) "Params.series_order" }}
    {{ if eq $post.Permalink $.Page.Permalink }}
    <div
        class="post">
        Part {{ $post.Params.series_order }}: This Article
    </div>
    {{ else }}
    <div
        class="post">
        <a href="{{$post.Permalink}}">
            Part {{ $post.Params.series_order }}: {{ $post.Params.title}}
        </a>
    </div>
    {{end}}
    {{end}}
</details>